.nav-tabs{
	font-size: 14px;
	line-height: 1.3;
	.nav-tab{
		@include clearfix;
		margin-bottom: 5px;
		border-bottom: 1px solid #ddd;
		li{
			position: relative;
			display: block;
			float:left;
			margin-left: 10px;
			min-height: 32px;
			a{
				position: relative;
				top: 8px;
				padding:8px 12px;
				color:#333;
			}
		}
		li:first-child{
			margin-left: 0;
		}
		li.active{
			a{
				background:#fff;
				color:#333;
				cursor: text;
				border: 1px solid #ddd;
				border-bottom-color: transparent;
			}
		}
	}
	.nav-con{
		.tab-pane{
			display: none;
			visibility: hidden;
			margin: 5px 10px;
		}
		.active{
			display: block;
			visibility: visible;
		}
	}
}

